<% titulo "Editar tela" %>

<div class="container-default">

<div class="page-header text-center">	
	<h1 class="title">Editar tela</h1>
</div>

<%= form_for([:project, @tela], :url => profile_project_tela_path, :html => { :multipart => true }) do |f| %>
  <% if @tela.errors.any? %>
    <div class="alert alert-danger">
      <h4><i class="glyphicon glyphicon-remove-sign"></i> Erro ao salvar tela:</h4>

      <ul class="list-unstyled">
      <% @tela.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tela %> <i class="tip glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Tela do seu projeto para avaliação."></i><br>
    <%= f.file_field :tela, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descrição" %> <i class="tip glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Adicione uma descrição a essa tela para ajudar o entendimento dos avaliadores"></i><br>
    <%= f.text_area :description, :rows => '6', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>


<div class="well well-sm">
<%= link_to '<i class="glyphicon glyphicon-chevron-left"></i> Voltar'.html_safe, profile_project_path(@project), :class => 'btn btn-default' %>
</div>

</div>
