<%= form_for(@profile_project) do |f| %>
  <% if @profile_project.errors.any? %>
    <div class="alert alert-danger">
      <h4><i class="glyphicon glyphicon-remove-sign"></i> Erro ao salvar projeto:</h4>

      <ul class="list-unstyled">
      <% @profile_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome" %> <i class="tip glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Título do projeto."></i><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descrição" %> <i class="tip glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Uma breve descrição sobre esse projeto. Qual a finalidade dele e a funcionalidade básica."></i><br>
    <%= f.text_area :description, :rows => '12', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :device_id, "Dispositivo" %> <i class="tip glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Qual dispositivo deve ser usado para avaliar esse projeto?"></i><br>
    <%= select_tag(:device_id, options_for_select(Admin::Device.order(:name).map{ |d| [d.name, d.name, {selected: d == @profile_project.heuristic.try(:device)}] }), {:prompt => 'Selecione o dispositivo para esse projeto', :class => 'form-control'} ) %>
  </div>
  <div class="form-group">
    <%= f.label :heuristic_id, "Heuristica" %> <i class="tip glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Qual heurística deve ser usada para avaliar esse projeto?"></i><br>
    <%= f.select(:heuristic_id, options_for_select(Admin::Heuristic.order(:name).map{ |h| [h.name, h.id, {:class => "#{h.device.name} heuristic hide"}] }), {:prompt => 'Selecione a heurística para esse projeto'}, :class => 'form-control' ) %>
  </div>
  <div class="form-group">
    <%= f.label :status, "Status" %> <b>do projeto</b> <i class="tip glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Projeto disponível ou não para avaliação."></i><br>
    <%= f.check_box :status, :class => 'switch' %>
  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>
  $('#device_id').change(function(){
    $(".heuristic").addClass('hide');

    var device_name = $('#device_id').val();
    if(!!device_name){
      $("." + device_name + ".heuristic").removeClass('hide');
    }
  });
</script>