<%= form_for(@admin_heuristic) do |f| %>
  <% if @admin_heuristic.errors.any? %>
    <div class="alert alert-danger">
      <h4><i class="glyphicon glyphicon-remove-sign"></i> Erro ao salvar heurística:</h4>

      <ul class="list-unstyled">
      <% @admin_heuristic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome" %> <i class="tip glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Nome da heurística."></i><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descrição" %> <i class="tip glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Uma breve descrição sobre essa heurística."></i><br>
    <%= f.text_area :description, :rows => '12', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :device_id, "Dispositivo" %> <i class="tip glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Para qual dispositivo essa heurística se aplica."></i><br>
    <%= f.collection_select(:device_id, Admin::Device.order(:name),:id,:name, { include_blank: false }, { class: 'form-control'}) %>
  </div>
  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
