<% titulo "Index Painel de Usuário" %>

<div class="container-fluid">

<div class="row-fluid">
	<div id="profile" class="col-md-3 well well-primary text-center">
		<% if @user_data.avatar.exists? %>
			<%= image_tag @user_data.avatar.url(:medium), :class => 'img-thumbnail' %>	
  		<% else %>
  			<%= image_tag("avatar_medium.png", :class => 'img-thumbnail') %>
  		<% end %>
  		<h3><%= @user_data.name %></h3>
  		<div class="tip"  data-toggle="tooltip" data-placement="top" title="Reputação do usuário.">
	  		<% if current_user.id != @user_data.id %>
	  			Seu voto<br>	
	  			<div id="star"></div><br>
	  		<% end %>	
	  			Reputação do usuário<br>
	  			<div id="star-media"></div><br>
	  	</div>	

  		<% unless @user_data.age.nil? %>
			<p><strong>Idade:</strong>	<%= @user_data.age %> anos</p>
		<% end %>

  		<% unless @user_data.study.empty? %>
			<p><strong class="">Onde estudo:</strong>	<%= @user_data.study %></p>
		<% end %>

		<% unless @user_data.work.empty? %>
			<p><strong class="">Onde trabalho:</strong>	<%= @user_data.work %></p>
		<% end %>

		<% unless @user_data.city.empty? or @user_data.country.empty? %>
			<p><strong class="glyphicon glyphicon-map-marker"></strong>	<% unless @user_data.city.empty? %><%= @user_data.city %>, <% end %><% unless @user_data.country.empty? %><%= @user_data.country %><% end %></p>
		<% end %>

  		<% unless @user_data.about.empty? %>
			<p><strong>Sobre:</strong>	<%= @user_data.about %></p>
		<% end %>
	</div>

	<div class="col-md-9 well well-incolor">
			<div class="row">
				<div class="col-md-6">
					<ul class="list-group">
					    <li class="list-group-item">
							<h2 class="title">Últimos projetos de <%= @user_data.name %></h2>
					    </li>
					    <% if @user_projects[0].nil? %>
					    	<li class="list-group-item text-center"><h4><% if @user_data.id = current_user.id %>Você<% else %><%= @user_data.name %><% end %> ainda não tem nenhum projeto</h4></li>	
					    <% else %>
						    <% @user_projects.each do |project| %>
							<li class="list-group-item">
							    <div class="row">
							    	<div class="col-md-9">
							    		<h3><%= project.name %><br><small><strong>Heurística:</strong> <%= project.heuristic.name %> <%= image_tag project.heuristic.device.icon.url(:thumb) %></small></h3>	
							    		<h4><small><strong>Criado em:</strong> <%= project.created_at.strftime("%d/%m/%Y") %></small></h4>
							    		<button class="btn btn-sm btn-primary" data-toggle="collapse" href="#collapse<%= project.id %>">Sobre esse projeto</button>
							    	</div>
							    	<div id="projetos-profile" class="col-md-3 text-center bg-success">
							    		<h1 class="title"><small>Avaliado</small><p></p><%= project.num_eval %><br><small><% if project.num_eval > 1 or project.num_eval == 0 %>vezes<% else %>vez<% end %></small></h1></h2>
							    	</div>
							    </div>	

							    <div id="collapse<%= project.id %>" class="panel-collapse collapse">
								    <hr>	
								    <div class="panel-body">
								      	<% if project.description.empty? %>
								        	<h4 class="text-center">Sem descrição</h4>
								        <% else %>	
								        	<%= project.description %>
								        <% end %>
								    </div>
								</div>			    	
							</li>
						    <% end %>
						<% end %>    
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="list-group">
					    <li class="list-group-item">
							<h2 class="title">Avaliados por <%= @user_data.name %></h2>
					    </li>
					    <% if @user_avaliac.empty? %>
					    	<li class="list-group-item text-center"><h4><% if @user_data.id = current_user.id %>Você<% else %><%= @user_data.name %><% end %> ainda não avaliou nenhum projeto</h4></li>	
					    <% else %>
						    <% @user_avaliac.each do |avaliac| %>
						    <li class="list-group-item">
						    	<div class="row">
						    		<div class="col-md-2" style="padding:2px 10px 0px">
						    		<% if avaliac.project.user.avatar.exists? %>
										<%= image_tag avaliac.project.user.avatar.url(:thumb), :class => 'img-thumbnail img-responsive' %>	
							  		<% else %>
							  			<%= image_tag("avatar_medium.png", :class => 'img-thumbnail') %>
							  		<% end %>
							  		</div> 
						    		<div class="col-md-10"><h4><%= avaliac.project.name %><br><small>de <%= link_to avaliac.project.user.name, profile_index_path(:user => avaliac.project.user.id) %></small></h4></div>
						    	</div>
						    </li>
						    <% end %>
						<% end %>    
					</ul>
				</div>
			</div>	
		</div>			
	</div>
</div>

</div>

<script>
  $('#star-media').raty({
    readOnly: true,
    noRatedMsg: 'Não avaliado!',
    hints: ['Ruim', 'Pobre', 'Regular', 'Bom', 'Ótimo'],
    score: <% if params[:user] %><%= average_rating(params[:user]) %><% else %><%= average_rating(@user_data.id) %><% end %>,
    path: '/assets'
  });

  $('#star').raty({
    score: <%= @rating.score %>,
    hints: ['Ruim', 'Pobre', 'Regular', 'Bom', 'Ótimo'],
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score, evaluator_id: <%= current_user.id %> }
      });
    }
  });
</script>